h1
{
    font-size: 25px !important;
}

.btn-success:hover{
    background-color: orangered;
}

canvas{
    animation-name: animate;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

@keyframes animate
{
    from{box-shadow: 1px 1px 38px rgb(14, 25, 235);}
    to{box-shadow: 1px 1px 38px rgb(186, 5, 222);}
}